* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-cover {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/train.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}



.form {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}


.ticket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 350px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
}


.border {
    background-color: #3B63FA;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
}


.content {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    width: 100%;
    padding: 15px 25px;
}

.details {
    width: 70%;
    padding: 10px;
}

.details-items {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}





.qrcode {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}